
/* Reset default styles */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  font-family: 'Cairo', sans-serif;
}

/* Flag colors for Algeria */
.flag-red {
  color: #cc2828;
}

.flag-green {
  color: #147828;
}

.rtl {
  direction: rtl;
  text-align: right;
}
